<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>战斗数据计算器</title>
    <style>
        /* 表格样式 */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="mainForm">
        <label for="name">科技1单位</label>
        <select id="name" name="unit1">
            {% for key in data %}
                <option style="color: {{ data[key]['rare'] }};" value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="tech1lv">科技1等级:</label>
        <select id="tech1lv" name="tech1lv">
            {% for i in range(1, 12) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="general1">军官1:</label>
        {% for key in generaldata %}
            <input type="checkbox" name="general1" value="{{ key }}"> {{ key }}
        {% endfor %}
        <br>

        <!-- 下拉选择框1-6 -->
        <label for="atkbuff1">全军等级：</label>
        <select id="atkbuff1" name="atkbuff1">
            {% for i in range(0, 8) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="defbuff1">坚守等级：</label>
        <select id="defbuff1" name="defbuff1">
            {% for i in range(0, 10) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="healbuff1">救死等级：</label>
        <select id="healbuff1" name="healbuff1">
            {% for i in range(0, 8) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="name">科技2单位</label>
        <select id="name" name="unit2">
            {% for key in data %}
                <option style="color: {{ data[key]['rare'] }};" value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="tech2lv">科技2等级:</label>
        <select id="tech2lv" name="tech2lv">
            {% for i in range(1, 12) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="general2">军官2:</label>
        {% for key in generaldata %}
            <input type="checkbox" name="general2" value="{{ key }}"> {{ key }}
        {% endfor %}
        <br>

        <!-- 下拉选择框7-12 -->
        <label for="atkbuff2">全军等级：</label>
        <select id="atkbuff2" name="atkbuff2">
            {% for i in range(0, 8) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="defbuff2">坚守等级：</label>
        <select id="defbuff2" name="defbuff2">
            {% for i in range(0, 10) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="healbuff2">救死等级：</label>
        <select id="healbuff2" name="healbuff2">
            {% for i in range(0, 8) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="num1">科技1数量:</label>
        <input type="number" id="num1" name="num1">
        <br>

        <label for="num2">科技2数量:</label>
        <input type="number" id="num2" name="num2">
        <br>

        <button type="button" id="datacompare">数据对比</button>
        <button type="button" id="killcalc">击杀计算</button>
        <button type="button" id="battlecalc">模拟战斗</button>
    </form>
    <table id="result"></table>

    <script>
        function sendRequest(route) {
            $.ajax({
                type: "POST",
                url: route,
                data: $("#mainForm").serialize(),
                success: function(response){
                    console.log(response);
                    var data = response;
                    var tableHtml = "<table><thead><tr><th>名字</th><th>稀有度</th><th>血量</th><th>对步兵攻击</th><th>对车辆攻击</th><th>对装甲攻击</th><th>对建筑攻击</th><th>对空攻击</th><th>对船攻击</th><th>对潜艇攻击</th><th>移动速度</th><th>攻击范围</th><th>视野范围</th><th>防御</th><th>食物</th><th>燃油</th><th>弹药</th><th>类型</th></tr></thead><tbody>";
                    for (var key in data) {
                        var item = data[key];
                        tableHtml += "<tr>";
                        tableHtml += "<td>" + item.name + "</td>";
                        tableHtml += "<td>" + item.rare + "</td>";
                        tableHtml += "<td>" + item.hp + "</td>";
                        tableHtml += "<td>" + item.inf_atk + "</td>";
                        tableHtml += "<td>" + item.car_atk + "</td>";
                        tableHtml += "<td>" + item.armor_atk + "</td>";
                        tableHtml += "<td>" + item.building_atk + "</td>";
                        tableHtml += "<td>" + item.air_atk + "</td>";
                        tableHtml += "<td>" + item.boat_atk + "</td>";
                        tableHtml += "<td>" + item.uboat_atk + "</td>";
                        tableHtml += "<td>" + item.move + "</td>";
                        tableHtml += "<td>" + item.atk_range + "</td>";
                        tableHtml += "<td>" + item.eye_range + "</td>";
                        tableHtml += "<td>" + item.def + "</td>";
                        tableHtml += "<td>" + item.food + "</td>";
                        tableHtml += "<td>" + item.fuel + "</td>";
                        tableHtml += "<td>" + item.ammo + "</td>";
                        tableHtml += "<td>" + item.type + "</td>";
                        tableHtml += "</tr>";
                    }
                    tableHtml += "</tbody></table>";
                    $('#result').html(tableHtml);
                },
                error: function(error){
                    console.error(error);
                }
            });
        }

        $("#datacompare").click(function() {
            sendRequest("/datacompare");
        });

        $("#killcalc").click(function() {
            sendRequest("/killcalc");
        });

        $("#battlesimulate").click(function() {
            sendRequest("/battlesimulate");
        });
    </script>
</body>
</html>