<html>
  <head>
    <title>升级花费计算器</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" language="jscript">
      function getRadioValue(name){
        var radios = document.getElementsByName(name);        
        for (var i=0;i<radios.length;i++){
          if(radios[i].checked){
            return radios[i].value;
          }
        }
        return null;
      }
      window.onload = function () {        
        var btn = document.getElementById('btn');
        $("[name='rare']").click((e)=>{
          if(e.target.value=='blue'){
            $("[data-show='0']").show()
            $("[data-show='3']").show()
            $("[data-show='1']").show()
            $("[data-show='2']").show()
          }
          else if(e.target.value=='purple'){
            $("[data-show='0']").hide()
            $("[data-show='3']").hide()
            $("[data-show='1']").show()
            $("[data-show='2']").show()
          }
          else if(e.target.value=='orange'){
            $("[data-show='0']").hide()
            $("[data-show='3']").hide()
            $("[data-show='1']").hide()
            $("[data-show='2']").hide()
          }
        }) 
        btn.onclick = function () {    
          var ajax = null;         
          if(window.XMLHttpRequest){   
                 ajax = new XMLHttpRequest();     
           }else{              
                 ajax = new ActiveXObject('Microsoft.XMLHTTP');               
           }           
           var rare = getRadioValue("rare");
           var techtype = getRadioValue("techtype");
           var before = getRadioValue("before");
           var after = getRadioValue("after");
           var nowfragment = document.getElementById('nowfragment').value;                  
    
           var posturl = 'upgradecost';  
           ajax.open('post',posturl,true);   
           ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');  
           var postParam = 'rare='+rare+'&techtype='+techtype+'&before='+before+'&after='+after+'&nowfragment='+nowfragment;               
           ajax.send(postParam);     
           ajax.onreadystatechange=function()
            {
              if (ajax.readyState==4 && ajax.status==200)
              {
                console.log(ajax.responseText)
                $("#result").html($.parseJSON(ajax.responseText).data)
              }
            }    
      }
    }    
    </script>
  </head>
  <body>
    <p><b>科技稀有度: </b>
      <label><input type="radio" name="rare"  id="blue" value="blue" checked=checked />蓝</label> 
      <label ><input type="radio" name="rare" id="purple" value="purple"/> 紫</label>
      <label ><input type="radio" name="rare" id="orange" value="orange"/> 橙</label>
      <br/></p>

    <p><b>科技类型: </b>
      <label for="idea"></label><input type="radio" name="techtype"  id="idea" value="idea" checked=checked />策略科技</label> 
      <label for="normal"> <input type="radio" name="techtype" id="normal" value="normal"/> 普通科技</label> 
      <label for="lock"></label><input type="radio" name="techtype" id="lock" value="lock"/> 解锁科技</label>  
      <br/></p>

    <p><b>当前等级: </b>
      <label><input type="radio" name="before" value="0" checked=checked />0</label>
      <label><input type="radio" name="before" value="1" /> 1</label>
      <label><input type="radio" name="before" value="2" /> 2</label>
      <label><input type="radio" name="before" value="3" /> 3</label>
      <label><input type="radio" name="before" value="4" /> 4</label>
      <label><input type="radio" name="before" value="5" /> 5</label>
      <label><input type="radio" name="before" value="6" /> 6</label>
      <label><input type="radio" name="before" value="7" /> 7</label>
      <label data-show="1"><input type="radio" name="before" value="8" /> 8</label>
      <label data-show="1"><input type="radio" name="before" value="9" /> 9</label>
      <label data-show="0"><input  type="radio" name="before" value="10"/> 10</label>
      <label data-show="0"><input  type="radio" name="before" value="11"/>11</label>
      <br/></p>

    <p><b>目标等级: </b>
      <label><input type="radio" name="after" value="0"   checked=checked />0</label>
      <label><input type="radio" name="after" value="1" /> 1</label>
      <label><input type="radio" name="after" value="2" /> 2</label>
      <label><input type="radio" name="after" value="3" /> 3</label>
      <label><input type="radio" name="after" value="4" /> 4</label>
      <label><input type="radio" name="after" value="5" /> 5</label>
      <label><input type="radio" name="after" value="6" /> 6</label>
      <label><input type="radio" name="after" value="7" /> 7</label>
      <label data-show="2"><input type="radio" name="after" value="8" /> 8</label>
      <label data-show="2"><input type="radio" name="after" value="9" /> 9</label>
      <label data-show="3"><input  type="radio" name="after" value="10"/> 10</label>
      <label data-show="3"><input  type="radio" name="after" value="11"/>11</label>
      <br/></p>
    
    <p><b>当前碎片: </b><input type="text" name="nowfragment" id="nowfragment"/><br/></p>

    <p><input type="submit" value="提交" id="btn">   
      <button onclick="window.location.href='/'">返回到首页</button></p>

    <p id="result">
      输出结果
    </p>

  </body>
</html>