<html>
  <head>
    <title>test</title>
  </head>
  <body>
    <p><b>科技稀有度: </b>
      <input type="radio" name="rare"  id="blue" checked=checked /><label for="blue">蓝</label> 
      <input type="radio" name="rare" id="purple"/> <label for="purple">紫</label> 
      <input type="radio" name="rare" id="orange"/> <label for="orange">橙</label>  
      <br/></p>

    <p><b>科技类型: </b>
      <input type="radio" name="techtype"  id="idea" checked=checked /><label for="idea">策略科技</label> 
      <input type="radio" name="techtype" id="normal"/> <label for="normal">普通科技</label> 
      <input type="radio" name="techtype" id="lock"/> <label for="lock">解锁科技</label>  
      <br/></p>

    <p><b>当前等级: </b>
      <input type="radio" name="before"  id="1" checked=checked /><label for="1">1</label> 
      <input type="radio" name="before" id="2"/> <label for="2">2</label> 
      <input type="radio" name="before" id="3"/> <label for="3">3</label>
      <input type="radio" name="before" id="4"/> <label for="4">4</label>  
      <input type="radio" name="before" id="5"/> <label for="5">5</label>
      <input type="radio" name="before" id="6"/> <label for="6">6</label>
      <input type="radio" name="before" id="7"/> <label for="7">7</label>
      <input type="radio" name="before" id="8"/> <label for="8">8</label>
      <input type="radio" name="before" id="9"/> <label for="9">9</label>
      <input type="radio" name="before" id="10"/> <label for="10">10</label>
      <input type="radio" name="before" id="11"/> <label for="11">11</label>
      <br/></p>

    <p><b>目标等级: </b>
      <input type="radio" name="after"  id="1" checked=checked /><label for="1">1</label> 
      <input type="radio" name="after" id="2"/> <label for="2">2</label> 
      <input type="radio" name="after" id="3"/> <label for="3">3</label>
      <input type="radio" name="after" id="4"/> <label for="4">4</label>  
      <input type="radio" name="after" id="5"/> <label for="5">5</label>
      <input type="radio" name="after" id="6"/> <label for="6">6</label>
      <input type="radio" name="after" id="7"/> <label for="7">7</label>
      <input type="radio" name="after" id="8"/> <label for="8">8</label>
      <input type="radio" name="after" id="9"/> <label for="9">9</label>
      <input type="radio" name="after" id="10"/> <label for="10">10</label>
      <input type="radio" name="after" id="11"/> <label for="11">11</label>
      <br/></p>
    
    <p><b>当前碎片: </b><input type="text" name="nowfragment" id="nowfragment"/><br/></p>
  </body>
</html>